@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .theme-light {
    --background-color: #f2f2f2;
    --background-itemCard-color: rgba(246, 246, 246, 0.9) ;
    --background-itemCard-colorHover: #fff;
    --background-searchBar: rgba(255, 255, 255, 0.65);
    --background-settings: rgba(250, 232, 255, 0.9);
    --background-product: #fae8ff; /* table */
    --background-firstProduct: #e9d5ff; /* first product table */
    --background-oddRowProduct: #f9fafb ; /* table odd row */
    --background-fadeComp1: rgba(255, 131, 195, 0.85); /* header */
    --background-fadeComp2: rgba(243, 152, 255, 0.85); /* header */
    --background-fadeComp3: rgba(147, 51, 234, 0.85); /* header */
    --background-fadeComp4: #f4ceff; /* sidebar header */
    --background-fadeComp5: #ecb0ff; /* sidebar header */
    --background-fadeComp6: #ead5ff; /* sidebar */
    --background-fadeComp7: #f5ebff; /* sidebar */
    --background-fadeComp8: #fcd4ff; /* h1 */
    --background-fadeComp9: #f3d8ff; /* h1 */
    --background-fadeComp10: #f472b6; /* settings header & h1 */
    --background-fadeComp11: #f9a8d4; /* settings header & h1 */
    --background-fadeComp12: #a855f7; /* itemcard header */
    --background-fadeComp13: #e879f9; /* itemcard header */
    --background-fadeComp14: #f0abfc; /* itemcard header only hover*/
    --background-fadeTrans1: rgba(242, 214, 255, 65%); /* bg trans */
    --background-fadeTrans2: rgba(251, 249, 255, 65%); /* bg trans */
    --background-fadeTrans3: rgba(250, 232, 255, 0.9); /* bg sidebar trans */
    --background-fadeTrans4: rgba(253, 248, 255, 0.9); /* bg sidebar trans */
    --text-defaultColor: #1a1a1a;
    --text-primaryColor: #f7f7f7;
    --text-secondaryColor: #a855f7; /* purple-500 */
    --text-secondaryColor-accent1: #7e22ce; /* purple-700 */
    --text-secondaryColor-accent2: #9333ea; /* purple-600 */
    --text-secondaryColor-accent3: #581c87; /* purple-900 */
    --button-headerLeft-color: #9431f2;
    --button-headerLeft-colorHover: #c084fc;
    --button-headerLeft-inlineColorHover: #581c87;
    --button-headerRight-color: #fbcfe8;
    --button-headerRight-colorHover: #f9a8d4;
    --button-headerRight-inlineColor: #ec4899;
    --button-headerRight-inlineColorHover: #fce7f3;
    --shapes-colorId1: #fbcfe8 ;
    --shapes-colorId2: #f472b6 ;
    --shapes-colorId3: #c084fc ;
    --shapes-colorId4: #e9d5ff ;
    --score-greenBg-color: #bbf7d0;
    --score-greenText-color: #166534;
    --score-yellowBg-color: #fef3c7;
    --score-yellowText-color: #be6409;
    --score-redBg-color: #fecaca;
    --score-redText-color: #dc2626;
  }

  .theme-dark {
    --background-color: #0d1b2a;
    --background-itemCard-color: rgba(55, 39, 74, 0.9) ;
    --background-itemCard-colorHover: #4b3257;
    --background-searchBar: rgba(0, 0, 0, 0.25);
    --background-settings: rgba(79, 45, 91, 0.807);
    --background-product: #6e4a92; /* table */
    --background-firstProduct: #5e3d82; /* first product table */
    --background-oddRowProduct: #7d59a4 ; /* table odd row */
    --background-fadeComp1: rgba(180, 56, 120, 0.85); /* header */
    --background-fadeComp2: rgba(187, 73, 202, 0.85); /* header */
    --background-fadeComp3: rgba(96, 10, 176, 0.85); /* header */
    --background-fadeComp4: #af6eb5; /* sidebar header */
    --background-fadeComp5: #74308f; /* sidebar header */
    --background-fadeComp6: rgba(84, 50, 107, 0.84); /* sidebar */
    --background-fadeComp7: rgba(121, 80, 131, 0.856); /* sidebar */
    --background-fadeComp8: #6b265c; /* h1 */
    --background-fadeComp9: #6b2887; /* h1 */
    --background-fadeComp10: #902b5f; /* settings header & h1 */
    --background-fadeComp11: #c25d95; /* settings header & h1 */
    --background-fadeComp12: #6c23b0; /* itemcard header */
    --background-fadeComp13: #9d39ad; /* itemcard header */
    --background-fadeComp14: #ca71da; /* itemcard header only hover*/
    --background-fadeTrans1: rgba(76, 52, 92, 0.65); /* bg trans */
    --background-fadeTrans2: rgba(54, 40, 89, 0.65); /* bg trans */
    --background-fadeTrans3: rgba(79, 45, 91, 0.8); /* bg sidebar trans */
    --background-fadeTrans4: rgba(104, 75, 105, 0.8); /* bg sidebar trans */
    --text-defaultColor: #e7e7e7;
    --text-primaryColor: #f7f7f7;
    --text-secondaryColor: #d7a9ff; /* purple-500 */
    --text-secondaryColor-accent1: #ddbcfa; /* purple-700 */
    --text-secondaryColor-accent2: #d7b3f9; /* purple-600 */
    --text-secondaryColor-accent3: #e4c7fc; /* purple-900 */
    --button-headerLeft-color: #47107a;
    --button-headerLeft-colorHover: #985fd2;
    --button-headerLeft-inlineColorHover: #581c87;
    --button-headerRight-color: #7E2D6C;
    --button-headerRight-colorHover: #e69fc2;
    --button-headerRight-inlineColor: #e69fc2;
    --button-headerRight-inlineColorHover: #7E2D6C;
    --shapes-colorId1: #e892c3 ;
    --shapes-colorId2: #c24988 ;
    --shapes-colorId3: #945ccc ;
    --shapes-colorId4: #bb9ddb ;
    --score-greenBg-color: #3c843e;
    --score-greenText-color: #d1ffe3;
    --score-yellowBg-color: #b0903f;
    --score-yellowText-color: #fdf8e7;
    --score-redBg-color: #b12929;
    --score-redText-color: #fceaea;
  }

  .theme-solarized {
    --custom-color-default: #b58900;
    --background-color: #fdf6e3;
    --text-color: #073642;
  }
}

.ubuntu-normal {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.exo-2-bold {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.exo-2-normal {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.exo-2-light {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] {
  appearance: none;
  opacity: 0;
  position: absolute;
}

input[type="radio"] + label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  font-size: 16px;
  color: rgb(31 41 55);
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--button-headerRight-inlineColor);
  border-radius: 35%;
  background-color: var(--button-headerRight-inlineColorHover);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s ease, border-color 0.1s ease;
}

input[type="radio"]:checked + label::before {
  background-color: var(--button-headerRight-inlineColor);
  border-color: var(--button-headerRight-inlineColor);
}

input[type="radio"]:checked + label::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--button-headerRight-color);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}