@tailwind base;
@tailwind components;
@tailwind utilities;

.ubuntu-normal {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.exo-2-bold {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.exo-2-normal {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.exo-2-light {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.itemcard-fade {
  background: linear-gradient(90deg, #f3e8ff 40%, #fce7f3 90%)
}

.header-fade {
  background: linear-gradient(270deg, #9333ea 10%, #b371f0 90%);
}

.title-fade {
  background: linear-gradient(90deg, #fff 10%, #efaaf9 90%);
  z-index: 10;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sidebar-fade {
  background: linear-gradient(0deg, #ead5ff 10%, #faf5ff 90%)
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 4px solid #7E22CE;
    border-radius: 50%;
    cursor: pointer;
}
  
input[type='range']::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 4px solid #7E22CE;
    border-radius: 50%;
    cursor: pointer;
}
  
input[type='range']::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 4px solid #7E22CE;
    border-radius: 50%;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance: textfield;
} */